<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete Province</title>
</head>
<body>
    <h1>Delete province</h1>
    <h2>Are you sure?</h2>
    <form th:action="@{/provinces/delete}" method="post" th:object="${province}">
        <input hidden type="text" th:field="*{id}">
        <table>
            <tr>
                <td>Name:</td>
                <td th:text="${province.name}"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Delete"></td>
            </tr>
        </table>
    </form>
</body>
</html>